@use "variables" as v;
@use "mixins" as m;

html {
  font-size: 62.5%;
}

body {
  overflow-x: hidden;
  background-image: url(../images/bg-header-mobile.png);
  background-repeat: no-repeat;
  background-size: 100vw;
  @include m.tablet {
    background-image: url(../images/bg-header-desktop.png);
    background-size: 100vw;
  }
  font-family: v.$primaryFont;
  font-size: 1.6rem;
  font-weight: 400;
}

.container {
  max-width: 160rem;
  width: 95%;
  margin-inline: auto;
}

h1 {
  font-weight: 700;
  font-size: 3rem;
  line-height: 1.1;
}

h2 {
  font-size: 1.6rem;
  font-weight: 400;
}
