//Colors
//Primary
$strongCyan: hsl(171, 66%, 44%);
$lightBlue: hsl(233, 100%, 69%);
//Neutral
$darkGray: hsl(210, 10%, 33%);
$lightGray: hsl(201, 11%, 66%);

$white: #fff;
$footerBg: hsl(0, 0%, 97%);

//Media Queries
$mobile: 375px;
$tablet: 768px;
$desktop: 1024px;
$desktopXL:1200px;

//Typography
$primaryFont: 'Bai Jamjuree', sans-serif;